[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-dracula-theme"]
	path = zsh-dracula-theme
	url = https://github.com/dracula/zsh.git
[submodule "iterm-dracula-theme"]
	path = iterm-dracula-theme
	url = https://github.com/dracula/iterm.git
[submodule "zsh-interactive-cd"]
	path = zsh-interactive-cd
	url = https://github.com/changyuheng/zsh-interactive-cd.git
